---
import Menu from './ui/Menu.astro';
import MenuLink from './ui/MenuLink.astro';
import Logo from './ui/Logo.astro';
import LanguageSwitcher from './ui/LanguageSwitcher.astro';
import ThemeSwitcher from './ui/ThemeSwitcher.astro';
import { getLangFromUrl, useTranslations, useUrl } from '../i18n/utils';
import type { Alternate } from '../i18n/routes';

const { alternates = [] } : { alternates?: Alternate[] } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const url = useUrl(lang);

---
<Menu class="shadow-sm">
  <Logo slot="start" />
  <MenuLink href={url('blog')}>{t('nav.blog')}</MenuLink>
  <!-- <MenuLink href={url('about')}>{t('nav.about')}</MenuLink> -->
  <!-- <MenuLink href={url('contact')} class="px-4 rounded-lg border border-current">{t('nav.contact')}</MenuLink> -->
  <div slot="end" class="flex items-center">
    <LanguageSwitcher lang={lang} alternates={alternates} />
    <ThemeSwitcher />
  </div>
</Menu>
