---

interface Props {
  class?: string;
  [key: string]: unknown;
  title: string;
  actionClass?: string;
  actions?: boolean;
  tag?: string;
  url?: string;
}

const { class: className, title, url, actionClass, actions = false, tag = 'div', ...rest } = Astro.props;

const CardElement = tag;

let classList = ['card', 'bg-base-100', 'shadow-md dark:shadow-white/10', className];

if (url != null) {
    classList.push('relative');
}
---

<CardElement class:list={classList} {...rest}>
    <figure>
        <slot name="image" />
    </figure>
    <div class="card-body">
        <h3 class="card-title">
            {url && <a href={url} class="after:absolute after:inset-0">{title}</a>}
            {!url && title}
        </h3>
        <slot name="content" />
        {
            actions &&
            <div class:list={["card-actions", actionClass]}>
                <slot name="cta" />
            </div>
        }
    </div>
</CardElement>
