---
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---
<a href={"/" + lang + "/"} class="text-xl font-bold text-base-content hover:opacity-80 p-4">Omar Lopesino</a>
