---
import type { Term } from '@/types';

interface Props extends Term {
    class?: string;
    [key: string]: unknown;
}

const { class: className, name, path, cid, language, ...rest } = Astro.props;

---
<span class:list={[className, "font-bold text-purple-500 dark:text-base-content"]} {...rest}>{name}</span>
